@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$main-font: 'Roboto', serif;
$second-font: 'Domine', serif;

// Colores
$white: #ffffff;
$black: #000000;
$cherry: #ED254D;
$yellow: #F9DA4F;
$navy: #002F68;
$dark-navy: #001835;
$gray: #D8D8D8;
$oxford: #4A5060;
// #E2E5E7

 

/* Tamaño de media queries */
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;

$separacion: 5rem;

// Fuentes
$thin: 300;
$regular : 400;
$bold: 700;
$black-font: 900;
