@use 'sass:color';
// color.adjust(v.gris, lightness: -30%)
@use 'base/variables' as v;
@use 'base/mixins' as m;


.stats-container {
    background-color: v.$dark-navy;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30rem;
}

.stat {
    max-width: 9rem;
    min-height: 18.3rem;
    color: v.$white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .stat-icon {
        img {
            filter: brightness(0) saturate(100%) invert(86%) sepia(23%) saturate(1111%) hue-rotate(358deg) brightness(101%) contrast(95%);
            width: 8rem;
        }

        &::after {
            display: block;
            content: ' ';
            width: 8rem;
            height: 2px;
            background-color: v.$yellow;
            opacity: .2;
            margin: 1rem auto;
        }
    }
    
    h3, p {
        margin: 0;
    }

    p {
        color: v.$oxford;
        opacity: .9;
        text-align: center;
        text-transform: uppercase;
        font-weight: v.$black-font;
        font-size: 1.3rem;
        letter-spacing: 1.5px;
        margin-top: .7rem;
    }

}
